

.a {

    border-style:solid;
    border-width: 3xp 3xp  3xp 3xp ;
    background-color:aliceblue;
    width: 800px;

}

.b {

    border-style:dashed;
    background-color:aliceblue;
    width: 800px;
    padding-right: 10px;
    padding-left: 10px;

}


.c {

    border-style:solid;
    background-color:aliceblue;
    width: 800px;
}

#b1  {

    border:dashed;
    border-color:red;
    border-width:4xp;

}